<%include layouts/header.html%>
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Menu Management</h3>
            </div>
            <div class="col-md-7 align-self-center">
              <button onClick="addMenu()" class="btn waves-effect waves-light btn-success pull-right hidden-sm-down">Add Menu</button>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Menus</h3>
                        <h6 class="card-subtitle">Available <code>Menus</code> in <code>Database</code>.</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>State</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% if(menuArr.length){
                                    for(var i = 0; i < menuArr.length; i++) { %>
                                      <tr>
                                          <td><%=menuArr[i].MenuID%></td>
                                          <td><%=menuArr[i].Date%></td>
                                          <td><%=menuArr[i].State%></td>
                                          <td>
                                              <a class="btn mdi waves-effect waves-light btn-warning mdi-tooltip-edit" href="../menu/edit/<%=data[i].MenuID%>"> Edit</a>
                                              <a class="btn mdi waves-effect waves-light btn-danger mdi-delete" href="../menu/delete/<%=data[i].MenuID%>"> Delete</a>
                                          </td>
                                      </tr>
                                    <% }
                                  } else{ %>
                                   <tr>
                                      <td colspan="3">No Menus</td>
                                   </tr>
                                   <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
<%include layouts/footer.html%>
